$light: (
  color: (transparent: transparent,
    primary: $uni-color-primary,
    success: $uni-color-success,
    warning: $uni-color-warning,
    error: $uni-color-error,
    normal: $uni-text-color,
    grey: $uni-text-color-grey,
    inverse: $uni-text-color-inverse,
    disable: $uni-text-color-disable,
    placeholder: $uni-text-color-placeholder,
    border: $uni-border-color,
    title: $uni-color-title,
    subtitle: $uni-color-subtitle,
    paragraph: $uni-color-paragraph,
  ),
  background-color: (transparent: transparent,
    btn: $uni-color-primary,
    base: $uni-bg-color,
    primary: $uni-bg-color-primary,
    grey: $uni-bg-color-grey,
    hover: $uni-bg-color-hover,
    mask: $uni-bg-color-mask,
  )
);

$dark: (
  color:(transparent: transparent),
  background-color: (transparent: transparent)
);

$themes: (
  light: $light,
  dark: $dark,
);

$styleMaps: (
  color: color,
  background-color: bgc
);

@mixin set-theme($theme) {

  @each $key,
  $colors in map-get($themes, $theme) {

    @each $name,
    $color in $colors {
      #{if($theme == "dark", ".dark", "")} .#{map-get($styleMaps, $key)}-#{'' + $name} {
        #{$key}: $color !important;
      }
    }
  }
}

@each $theme,
$value in $themes {
  @include set-theme($theme);
}