@use "sass:math";

// 公共样式类
@for $flex from 1 through 6 {
  .f#{$flex} {
    flex: $flex;
  }
}

@each $fd,
$value in (col: column, row: row, rerow: row-reverse, recol: column-reverse) {
  .fd-#{$fd} {
    flex-direction: $value;
  }
}

@each $align,
$value in (start: flex-start,
  center: center,
  end: flex-end,
  baseline: baseline) {
  @if $align ==baseline {

    /* #ifndef APP-PLUS-NVUE  */
    .ai-#{$align} {
      align-items: $value;
    }

    /* #endif*/
  }

  @else {
    .ai-#{$align} {
      align-items: $value;
    }
  }

  /* #ifndef APP-PLUS-NVUE */
  .as-#{$align} {
    align-self: $value;
  }

  .ac-#{$align} {
    align-content: $value;
  }

  /* #endif */
}

@each $justify,
$value in (sa: space-around,
  sb: space-between,
  se: space-evenly,
  center: center,
  start: flex-start,
  end: flex-end) {

  @if $justify ==se {

    /* #ifndef APP-PLUS-NVUE  */
    .jc-#{$justify} {
      justify-content: $value;
    }

    /* #endif*/
  }

  @else {
    .jc-#{$justify} {
      justify-content: $value;
    }
  }

  /* #ifndef APP-PLUS-NVUE */

  .js-#{$justify} {
    justify-self: $value;
  }

  .ji-#{$justify} {
    justify-items: $value;
  }

  /* #endif*/
}

@each $position in (fixed,
  relative,
  absolute,

  static) {
  @if $position ==static {

    /* #ifndef APP-PLUS-NVUE  */
    .#{$position} {
      position: $position;
    }

    /* #endif*/
  }

  @else {
    .#{$position} {
      position: $position;
    }
  }
}

@each $text in (center, left, right, justify) {
  @if $text ==justify {

    /* #ifndef APP-PLUS-NVUE  */
    .text-#{$text} {
      text-align: $text;
    }

    /* #endif*/
  }

  @else {
    .text-#{$text} {
      text-align: $text;
    }
  }
}

@for $i from 0 through 300 {

  @each $wrapper,
  $box in (top: top,
    bottom: bottom,
    left: left,
    right: right,
    width: width,
    height: height,
    m: margin,
    p: padding,
    mt: margin-top,
    mr: margin-right,
    mb: margin-bottom,
    ml: margin-left,
    pt: padding-top,
    pr: padding-right,
    pb: padding-bottom,
    pl: padding-left,
    fs: font-size) {
    .#{$wrapper}-#{$i * 2} {
      #{$box}: #{$i * 2}rpx;
    }
  }

  @if $i < 30 {
    .br-#{$i * 2} {
      border-radius: #{$i * 2}rpx;
    }
  }

  @if $i <=5 {
    .lh-#{$i} {
      line-height: $i;
    }
  }

  @else {
    .lh-#{$i * 2} {
      line-height: #{$i * 2}rpx;
    }
  }
}

@each $size in (auto, 20, 25, 30, 50, 70, 90, 100) {
  @if $size==auto {

    /* #ifndef APP-PLUS-NVUE */
    .width-#{$size} {
      width: $size;
    }

    .height-#{$size} {
      height: $size;
    }

    .mt-#{$size} {
      margin-top: $size;
    }

    .mr-#{$size} {
      margin-right: $size;
    }

    .mb-#{$size} {
      margin-bottom: $size;
    }

    .ml-#{$size} {
      margin-left: $size;
    }
     /* #endif */
  }

  @else {
    .br-#{$size}percent {
      border-radius: #{$size}#{"%"};
    }

    .width-#{$size}vw {
      width: #{$size}vw;
    }

    .width-#{$size}percent {
      width: #{$size}#{"%"};
    }

    .height-#{$size}vh {
      height: #{$size}vh;
    }

    .height-#{$size}percent {
      height: #{$size}#{"%"};
    }

    .top-#{$size}percent {
      top: #{$size}#{"%"};
    }

    .left-#{$size}percent {
      left: #{$size}#{"%"};
    }

    .bottom-#{$size}percent {
      bottom: #{$size}#{"%"};
    }

    .right-#{$size}percent {
      right: #{$size}#{"%"};
    }
  }
}

@for $i from 1 to 10 {
  .opacity-0#{$i} {
    opacity: math.div($i, 10);
  }

  .fw-#{$i * 100} {
    font-weight: $i * 100;
  }
}