$light: (
  color: (transparent: transparent,
    primary: $uni-color-primary,
    normal: $uni-text-color,
    grey: $uni-text-color-grey,
    inverse: $uni-text-color-inverse,
  ),
  background-color: (transparent: transparent,
    primary: $uni-bg-color,
    normal: #fff,
  )
);

$dark: (
  color:(0: transparent),
  background-color: (0: transparent)
);

$themes: (
  light: $light,
  dark: $dark,
);

$styleMaps: (
  color: color,
  background-color: bgc
);

@mixin set-theme($theme) {

  @each $key,
  $colors in map-get($themes, $theme) {

    @each $name,
    $color in $colors {
      #{if($theme == "dark", ".dark", "")} .#{map-get($styleMaps, $key)}-#{'' + $name} {
        #{$key}: $color !important;
      }
    }
  }
}

@each $theme,
$value in $themes {
  @include set-theme($theme);
}