@use "sass:math";

// 公共样式类
@for $flex from 1 through 6 {
  .f#{$flex} {
    flex: $flex !important;
  }
}

@each $fd, $value in (col: column, row: row, rerow: row-reverse, recol: column-reverse) {
  .fd-#{$fd} {
    flex-direction: $value !important;
  }
}

@each $align, $value in (start: flex-start, center: center, end: flex-end, baseline: baseline) {
  .ai-#{$align} {
    align-items: $value !important;
  }
  .as-#{$align} {
    align-self: $value !important;
  }
  .ac-#{$align} {
    align-content: $value !important;
  }
}

@each $justify,
  $value in (sa: space-around, sb: space-between, se: space-evenly, center: center, start: flex-start, end: flex-end)
{
  .jc-#{$justify} {
    justify-content: $value !important;
  }
  .js-#{$justify} {
    justify-self: $value !important;
  }
  .ji-#{$justify} {
    justify-items: $value !important;
  }
}

@each $position in (fixed, relative, absolute, static) {
  .#{$position} {
    position: $position !important;
  }
}

@each $text in (center, left, right, justify) {
  .text-#{$text} {
    text-align: $text !important;
  }
}

@for $i from 0 through 300 {
  @each $wrapper,
    $box
      in (
        top: top,
        bottom: bottom,
        left: left,
        right: right,
        width: width,
        height: height,
        mt: margin-top,
        mr: margin-right,
        mb: margin-bottom,
        ml: margin-left,
        pt: padding-top,
        pr: padding-right,
        pb: padding-bottom,
        pl: padding-left,
        fs: font-size
      )
  {
    .#{$wrapper}-#{$i * 2} {
      #{$box}: #{$i * 2}rpx !important;
    }
  }

  @if $i < 30 {
    .br-#{$i * 2} {
      border-radius: #{$i * 2}rpx !important;
    }
  }

  @if $i <= 5 {
    .lh-#{$i} {
      line-height: $i !important;
    }
  } @else {
    .lh-#{$i * 2} {
      line-height: #{$i * 2}rpx !important;
    }
  }
}

@each $size in (auto, 20, 25, 30, 50, 70, 100) {
  @if $size == 50 {
    .br-circle {
      border-radius: 50% !important;
    }
  }
  @if $size == auto {
    .width-#{$size} {
      width: $size !important;
    }
    .height-#{$size} {
      height: $size !important;
    }
  } @else {
    .width-#{$size}vw {
      width: #{$size}vw !important;
    }
    .width-#{$size}percent {
      width: #{$size}#{"%"} !important;
    }

    .height-#{$size}vh {
      height: #{$size}vh !important;
    }
    .height-#{$size}percent {
      height: #{$size}#{"%"} !important;
    }

    .top-#{$size}percent {
      top: #{$size}#{"%"} !important;
    }
    .left-#{$size}percent {
      left: #{$size}#{"%"} !important;
    }
    .bottom-#{$size}percent {
      bottom: #{$size}#{"%"} !important;
    }
    .right-#{$size}percent {
      right: #{$size}#{"%"} !important;
    }
  }
}

@for $i from 1 to 10 {
  .opacity-dot#{$i} {
    opacity: math.div($i, 10) !important;
  }
  .fw-#{$i * 100} {
    font-weight: $i * 100 !important;
  }
}
